Repository nanoframework/nanoFramework.MessagePack, pull requests merged in 2025-04, with the labels that each got.

#4 Add missing project properties
  MsgPack.Tests/MsgPack.Tests.csproj
  NFUnitTest/NFUnitTest.nfproj
  NFUnitTest/nano.runsettings
  nanoFramework.MessagePack.Net/nanoFramework.MessagePack.Net.csproj
  nanoFramework.MessagePack.Net/packages.lock.json
Labels: Area: Config-and-Build

#5 General improvements, and the UnitTests add-on
  Shared/MessagePack/ConverterContext.cs
  Shared/MessagePack/Converters/IConverter.cs
  Shared/MessagePack/Converters/MapConverter.cs
  Shared/MessagePack/Converters/StringConverter.cs
  Shared/MessagePack/Dto/ArraySegment.cs
  Shared/MessagePack/Extensions/NumberConverterHelper.cs
  Shared/MessagePack/MessagePackSerializer.cs
  Shared/MessagePack/Stream/BaseReader.cs
  Shared/MessagePack/Stream/ByteArrayReader.cs
  Shared/MessagePack/Stream/IMessagePackReader.cs
  Shared/MessagePack/Stream/MemoryStreamReader.cs
  UnitTestShared/Helpers/TestsHelper.cs
  UnitTestShared/TestData/SecureMessageConverter.cs
  UnitTestShared/TestData/SharedWordDictionary.cs
  UnitTestShared/UnitTests.cs
Labels: Type: bug, Type: enhancement, Type: Unit Tests

#6 Added benchmarks project
  NFUnitTest/NFUnitTest.nfproj
  README.md
  nanoFramework.MessagePack.Benchmark/Base/BaseIterationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/Data/ComparativeTestObjects.cs
  nanoFramework.MessagePack.Benchmark/Data/ReferenceTestObjects.cs
  nanoFramework.MessagePack.Benchmark/DeserializationBenchmarks/ComparativeDeserializationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/DeserializationBenchmarks/ReferenceTypesDeserializationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/DeserializationBenchmarks/ValueTypesDeserializationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/Program.cs
  nanoFramework.MessagePack.Benchmark/Properties/AssemblyInfo.cs
  nanoFramework.MessagePack.Benchmark/SerializationBenchmarks/ComparativeSerializationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/SerializationBenchmarks/ReferenceTypesSerializationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/SerializationBenchmarks/ValueTypesSerializationBenchmark.cs
  nanoFramework.MessagePack.Benchmark/nanoFramework.MessagePack.Benchmark.nfproj
  nanoFramework.MessagePack.Benchmark/packages.config
  nanoFramework.MessagePack.Benchmark/packages.lock.json
  nanoFramework.MessagePack.sln
Labels: Type: documentation, Area: Config-and-Build
